.App {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  min-width: 900px;
  max-width: 1200px;
  min-height: 100vh;
  color: whitesmoke;
  background-color: rgb(48, 48, 48);
}

.cash-back {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 200px;
  /* These 4 lines create the gradient */
  background-image: linear-gradient(135deg, orange, violet);
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cash-back2 {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px;
  margin-left: 30px;
  font-size: 80px;
}

.percent {
  font-size: 100px;
}

.join {
  font-size: 30px;
}

hr {
  width: 250px;
  margin: 18px;
}

.and {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 30px;
}

.membership {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 600px;
}

img {
  margin: 15px;
}

.month {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 30%;
  margin: 15px;
  font-size: 35px;
}

.lower {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 25px;
}

.how-to-setup {
  font-size: 50px;
  font-weight: bold;
  text-align: left;
}

.setup {
  justify-content: center;
  text-align: left;
  font-size: 20px;
  font-weight: normal;
  max-width: 500px;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.search {
  margin-top: 100px;
  text-align: left;
  font-size: 20px;
  font-weight: normal;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
